.signUpContainer{
    flex-direction: column; 
    width: 70%;
    float:left;
    display: flex; 
    flex-wrap:nowarp;
    justify-content: space-around;  
}

.signUpTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}