.LicensingFullContainer{
    flex-direction: column; 
    width: 100%;
    float:left;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-around;
}
.LicensingTitleDiv{
    flex: 1
}
.LicensingTitleText{  
    font-size: 300%;
    color: #294539;
}
.LicensingSubTitle{
    flex: 1;
    font-size: 200%;
    font-weight: 501;
    color: #000000;
}
.LicensingLine{
    border-radius: 3px;
    border-width: 9px;
    width: 65%;
    color: #294539;
}
.LicensingParagraphContainer{
    flex: 9;
    height: max-content;
    flex-direction: column; 
    width: 100%;
    float:left;
    display: flex; 
    flex-wrap:nowarp;
    justify-content: space-around;
}
.LicensingParagraph{
    min-height: 330px;
    max-height: 330px;
    flex: 3;
    overflow: auto;
    text-align: left;
}
.LicensingBlock{
    height: 400px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%; /* set a maximum height */
    background-color: #E3E3E3;
    border-radius: 20px;
    padding: 3%;
    margin-bottom: 4%;
    width: 90%;
}