.accountFullContainer{
    flex-direction: column; 
    width: 85%;
    float:left;
    display: flex; 
    flex-wrap:nowarp;
    justify-content: space-around;
}
.accountGreenCircles{
    width: 50%;
    position: "absolute"; 
    top: 0; 
    left: 0;
     z-index: 20;
     border: 5px;
     border-color: #FFFFFF
}
.accountTitleDiv {
    flex:1;
    margin-left: 4%;
    justify-content: left;
    align-items: left;
  }

.accountChangeDiv{
    flex:8;
    display: flex;
    flex-direction: row; 
    z-index: 10;
}

.accountViewDiv{
    flex:8;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    z-index: 10;
}
.accountUserInfo{
    width: 52.5%;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #E3E3E3;
}

.accountChangePassword{
    width: 42.5%;
    border-radius: 20px;
    margin-bottom: 2%;
    background-color: #E3E3E3;
}

.accountLessonHistory{
    width: 40%;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #E3E3E3;
}

.accountUpcomingHistory{
    width: 55%;
    border-radius: 20px;
    margin-bottom: 2%;
    background-color: #E3E3E3;
}