.account-delete-button{
    align-self: flex-end;
    width: 17%;
    margin-left: 44%;
    margin-bottom: 1%;
    text-align: center;
    line-height: 50%;
    border-color: #000000;
    color: #000000;
    background-color: #FFFFFF;
    z-index: 10;
}

.account-delete-button:hover{
    background-color: #4b1616 !important;
}

.account-delete-button:active{
    background-color: #4b1616 !important;
}

.cancelButton{
    background-color: #6c757d;
}
.cancelButton:hover{
    background-color: #3b4044;
}
.deleteButton{
    background-color: #dc3444;
}
.deleteButton:hover{
    background-color: #83212b;
}