.roundedInput{
    border-radius: 20px;
}

.FormControl.requests::placeholder {
    font-weight: bold;
    color:black;
  }
.lessonvalidatedmsg{
    font-size:  110%;
    color: #1c7a51;
}
.lessonerrmsg{
    font-size:  110%;
    color: #a52424;
}
.lessonoffscreen{
    width: 0%;
    opacity: 0;
}

.redDeleteHover:hover{
    background-color:darkred !important;
    color:white !important;
}