.roundedInput{
    border-radius: 20px;
}

.FormControl.requests::placeholder {
    font-weight: bold;
    color:black;
  }


.redDeleteHover:hover{
    background-color:darkred !important;
    color:white !important;
}