

.myContainer{

    display: flex; 
    flex-direction: row;
    flex-wrap:nowarp;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 60%;
}

.insturctorSection{
  box-sizing: border-box;
}


.map-container{
    width: 100%;
    height: 30vh;
}

hr{
    opacity:1;
}

.highlight {
    /* background: #cadecb; */
    border-radius: 50%;



    color: black ;
    border-style: solid !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    padding: -2px;
    border-color: #294539 !important;
    background: white;
    line-height: 1.5;
 }

 .requestDate {
        /* background: #cadecb; */
        border-radius: 50%;



        color: black ;
        border-style: solid !important;
        border-radius: 50% !important;
        border-width: 2px !important;
        padding: -2px;
        border-color: lightblue !important;
        background: white;
        line-height: 1.5;
 }

 .display-5{
    line-height: 0;
 }
 .react-calendar__tile {
    line-height: 1.5;
    /* 1.5 for iphone size; */
 }

 @media only screen and (max-width: 990px) {
    .react-calendar__tile {
        line-height: 1.5;
    }
 }


.react-calendar { 
    /* max-width: 100%; */
    width:700;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 4em;
   }
   .react-calendar__navigation button {
    color: #294539;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f0f0f0;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   /* .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #294539;
    border-radius: 6px;


     border-radius: 50%;
    border-color: #294539;
   } */
   .react-calendar__tile--now {
    background: lightgray;
    border-radius: 50%;
   }
   .react-calendar__tile--now:enabled:hover{
    background: #294539 !important;
    color:white;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #294539;
    border-radius: 6px;

    font-weight: bold;
    color: white;
    border-radius: 50%;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #294539;
    color: white;
   }
    .react-calendar__tile:enabled:hover {
        border-radius: 50%;
        background-color: white;
    }


    .highlight:hover{
        background-color: #315747 !important;
        color:white;
    }

    .react-calendar__tile--active:hover{
        background-color: #315747 !important;
    }
    


   /* .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   } */
   /* .react-calendar__tile--range {
    background: #f8f8fa;
    color: #294539;
    border-radius: 0;
   } */
   /* .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #294539;
    color: white;
   } */
   /* .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #294539;
    color: white;
   } */

   
   .react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
    color: black;
  }
   .react-calendar {
    padding: 1%;
    border-width: 5px;
    border-color: #000000;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";  
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .react-calendar__navigation,
.react-calendar__month-view__weekdays,
.react-calendar__tile--now {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation {
  margin-bottom: 0%;
}

.react-calendar__navigation button {
  margin: 0;
}

.react-calendar__month-view__weekdays {
  margin-top: 0%;
}
  .react-calendar__month-view__weekdays__weekday,
  .react-calendar__navigation__label {
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";  
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin-top: -3%;
    margin-bottom: -3%;
  }

  .react-calendar__navigation__prev-button:hover,
  .react-calendar__navigation__next-button:hover {
    background-color: "#e3e3e3"!important;
    border-radius: 20px;
  }
  .react-calendar__navigation__label:hover {
    border-radius: 20px;
    background-color: "#e3e3e3"!important;
  }
  .react-calendar__navigation__label{
    height: 100%;
    font-size: 150% !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-calendar__navigation__arrow {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250% !important;
    padding: 5px;
    height: 100%;
    width: 40px; /* set a fixed width for the navigation button */
  }
  
  .react-calendar__navigation__next-button {
    /* center the arrow horizontally within the button */
    justify-content: flex-end;
    padding-right: 4%;
  }
  
  .react-calendar__navigation__prev-button {
    /* center the arrow horizontally within the button */
    justify-content: flex-start;
    padding-left: 4%;
  }