

.container{
    display: flex; 
    flex-direction: row;
    flex-wrap:nowarp;
    justify-content: space-around;
}
img{
    width: 60%;
}


.highlight {
    background: #cadecb;
    border-radius: 50%;
 }

 .display-5{
    line-height: 0;
 }
 .react-calendar__tile {
    line-height: 2;
    /* 1.5 for iphone size; */
 }

 @media only screen and (max-width: 990px) {
    .react-calendar__tile {
        line-height: 1.5;
    }
 }


.react-calendar { 
    
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 4em;
   }
   .react-calendar__navigation button {
    color: #294539;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f0f0f0;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   /* .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #294539;
    border-radius: 6px;
   } */
   .react-calendar__tile--now {
    background: white;
    border-radius: 6px;
    font-weight: bold;
    color: #294539;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: purple;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #42705C;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #42705C;
    color: white;
   }
    .react-calendar__tile:enabled:hover {
        border-radius: 50%;
        background-color: white;
    }


    .highlight:hover{
        background-color: #95bd98 !important;
    }

    .react-calendar__tile--active:hover{
        background-color: #95bd98 !important;
    }
    


   /* .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   } */
   /* .react-calendar__tile--range {
    background: #f8f8fa;
    color: #294539;
    border-radius: 0;
   } */
   /* .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #294539;
    color: white;
   } */
   /* .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #294539;
    color: white;
   } */

   .react-calendar__month-view__days__day--weekend{
    color: black;
   }