
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Unna:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.abiImage{
    float:left;
}

.titleContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.railway{
    font-family: 'Raleway', sans-serif;
}

.railwaySemiBold{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.railwayMedium{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.railwayMediumDigits{
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";  
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.railwayBold{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.homeTitle{
    font-size: 500%;
    letter-spacing: .6rem;
    line-height: 90%;
    font-weight: bold;
  
}

.unna{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Unna', serif;
}

.homeSubtitle{
    font-size: 110%;
    letter-spacing: .5rem;
    line-height: 90%;
}

.homeSubtitleComputer{
  font-size: 110%;
  letter-spacing: .5rem;
  line-height: 90%;
}
.descriptionContainer{
    font-size: 150%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.homeBody{
    background: white;
}

.carousel {
    width:100%;
    height:100px;
    margin: auto;
  }


  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  
  .carousel-caption h3, .carousel-caption p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }

 .carousel-control-prev, .carousel-control-next {
    top: 50% !important;
    transform: translateY(-50%) !important;
    padding-top: 600px;
    color:white;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px !important;
    width: 40px !important;
  }
  

.carousel-indicators{
    transform: translateY(-600);
    z-index: 1000;
}

.carousel-indicators {
    top: 50%;
   padding-top:600px;
  } 

.btn:hover{
  background: #1e332a;
  border-color: #1e332a;
}


.whiteb{
  border-radius: 10;
  border-width:medium;
  border-color: #294539;
  color: #294539;
  background-color: white;
}

.greenb{
  border-radius: 10;
  border-width:medium;
  border-color: #294539;
  background-color: #294539;
  color: white;
}

.learnButton:hover {
  color: white !important;
}