
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Unna:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");


.logo{
  width:30%;
  margin-top:30px;
  padding-top:50px;

}
.abiImage{
    float:left;
}

.titleContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.railway{
    font-family: 'Raleway', sans-serif;
}

.railwaySemiBold{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.railwayMedium{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.railwayMediumDigits{
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";  
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.railwayBold{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.phonehomeTitle{
    font-size: 28px;
    letter-spacing: 10%;
    line-height: 40px;
    font-weight: bold;
    color: #294539;
    padding-top:50px;
  
}



.unna{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Unna', serif;
}

.homeSubtitle{
    font-size: 80%;
    letter-spacing: .5rem;
    line-height: 90%;
}

.descriptionContainer{
    font-size: 150%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.homeBody{
    background: white;
}

.carousel {
    width:100%;
    height:100px;
    margin: auto;
  }


  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  
  .carousel-caption h3, .carousel-caption p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }

  .phone.carousel-control-prev, .phone.carousel-control-next {
    color:white;
    background-color: purple;

  }
  
  .phone.carousel-control-prev-icon, .phone.carousel-control-next-icon {
    position: relative;
  }
  
#phone{
  background-color: green;
  top:0;
}
.phone.carousel-indicators {
    height:100px!important; 
    background-color: red!important; 
    top:0!important; 
  }


.btn:hover{
  background: #1e332a;
  border-color: #1e332a;
}


.whiteb{
  border-radius: 10;
  border-width:medium;
  border-color: #294539;
  color: #294539;
  background-color: white;
}

.greenb{
  border-radius: 10;
  border-width:medium;
  border-color: #294539;
  background-color: #294539;
  color: white;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #294539 !important;;
}

.greenb:hover{
  color: white !important;
  background-color: #294539 !important;
  border-color: #1e332a !important;
}