/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

/* div{
    padding-left: 2em;
    padding-right: 2em;
} */

#black{
    color: black;
    /* font-family: 'Josefin Sans', cursive; */
}
#white{
    color: white;
}
.color-my-navbar-collapse{
    background-color: #FFFFFF!important;
}


.navbar .home {
    color: white;
}
.navbar .other-page {
    color: white;
}