/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

/* div{
    padding-left: 2em;
    padding-right: 2em;
} */

.black{
    color: black;
    /* font-family: 'Josefin Sans', cursive; */
}
.white{
    color: white;
}

#basic-nav-dropdown{
    color:black;
    /* font-family: 'Josefin Sans', cursive; */
}