.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: center;
    position: absolute
}

.column2 {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

.imagebox {
    margin: 3%;
    height: 60rem;
    width: 100rem;
    opacity: 30%;
}
