@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gloock&family=Quicksand:wght@300&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.statementfonts{
    font-family: 'Gloock', sans-serif;
    font-weight: 700;
    font-size: 500%;
}

.textfonts{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 200%;
}

.mtextfont{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1100%;
}

