.form-control {
    border-radius: 10px;
    border-width: 3px;
    border-color:   #000000;
  }
.formWidth{
  width:600px;
}
@media only screen and (max-width: 600px) {
  .formWidth{ 
    width:400px;
  }
  .formPadding{
    padding-left:100px;
  }
  .keepLogged{
    left:-100!important;
    align-items: left!important;
    float: left !important;
  }
  .form-check-checkbox-container{
    display: flex;  
    flex-direction: row;   
    align-items: left;
    float: left;
    padding-left: -100px;
 }
}
.forgot{
  padding-top: 1.0%;
  color: #000000;
  text-decoration: none;
  float: right;
  font-size: 75%;
}
  .form-check-input {
    border-width: 1px;
    border-color: #000000;
    margin-left: 0px;
    margin-right: 10px;
  }
  .form-check-input:checked{
    background-color: #294539;
    border-width: 1px;
    border-color: #000000;
    margin-left: 0px;
    margin-right: 10px;
  }

  .errmsg{
    padding-top: 5%;
    font-size:  130%;
    width: 100%;
    text-align: center;
    color: #a52424;
  }
  .offscreen{
    opacity: 0;
  }
  .form-check-label {
    margin-left: 37%;
    margin-right: 2%;
    padding-left: 0;
  }
  .forgot:hover{
    color: #294539;
  }
  .checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .submit-Button{
    border-color: #294539;
    float: center; 
    width: 100%;
    border-radius: 15px;
    background-color: #294539

  }
  .submit-Button:active{
    background-color: #121e19 !important;
}
  .submit-Button:hover{
    background-color: #121e19;
  }

 .form-check-checkbox-container{
    display: flex;  
    flex-direction: row;
    width: 100%;    
    align-items: center;
    float: center;
 }