.l{
    flex-direction: column; 
    width: 70%;
    float:left;
    display: flex; 
    flex-wrap:nowarp;
    justify-content: space-around;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}