.phoneaccountPasswordTitle{
    text-align: center;
    width: 100%;
}
.phoneaccountFullPassword{
    margin: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}   

.phoneaccount-password-forgot{    
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: 3%;
    display: flex;
    }

.phoneaccountPasswordButton{
    border-color: #294539;
    text-align: center;
    background-color: #294539;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 10px;
    line-height: 50%;
    width: 40%;
}

.phoneaccountPasswordButton:hover{
    background-color: #121e19;
}

.phoneaccountPasswordButton:active{
    background-color: #121e19 !important;
}

.phonepasswordaccountvalidatedmsg{
    align-self: flex-end;
    margin-left: auto;
    font-size:  110%;
    color: #1c7a51;
}

.phonepasswordaccounterrmsg{
    align-self: flex-end;
    margin-left: auto;
    font-size:  110%;
    color: #a52424;
}

.phonepasswordaccountoffscreen{
    align-self: flex-end;
    width: 0%;
    opacity: 0;
}