.fullContainer
{
    display: flex;
    flex-direction: column;
    width: 85%;
    float: left;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.instructBox
{
    display: flex;
    flex-direction: row;
}

.titleAndTextBox{
    display: flex;
    flex-direction: column;
}