@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.fullContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    float: left;
    flex-wrap: nowrap;
    padding-left: 5%;
    
}

.instructBox {
    display: flex;
    flex-direction: row;
}

.titleAndTextBox {
    display: flex;
    flex-direction: column;

}

.greyBox {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: white;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #294539;
    
      
}

.titleFont {
    font-family: 'Raleway';


}

.titleAndContactBox{
    display: flex;
    flex-direction: row;
}

.contactFont {
    font-family: "Raleway";
    color: #233831;
}

.descriptFont {
    line-height: 2;
    font-size: 115%;
}