
.myContain{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertContain
{
    display: flex; 
    flex-direction: row;
    flex-wrap:nowarp;
    justify-content: space-around;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accordion-button {
    background-color: white !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: black;
  }

  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

  .button{
    background-color: #294539;
    border-radius: 10%;
  }